body{
    background-image: url('../img/pattern.jpg');
}

header {
position: sticky;
background-color: white;
    
}
nav {
    display: flex;
    justify-content: space-around;
    float: right;
    
}

nav ul li {
    display: inline;
    margin-right: 10px;
    font-size: large;
    text-decoration:underline;

}
section {
    background-color: white;
    margin: 20px 100px ;
    padding:50px;
    
}
section h1 {
    text-align: center;
}

article  {
    border-bottom: 2px solid;
    margin-top: 20;
    padding: 0;
}

footer {
    text-align: center;
    font-size:x-large;
    background-color: black;
    bottom: 0;
    color: white;
    height: 50px;
    width: 100%;

}